//==================================================|
// FONT-FACES---------------------------------------|
//==================================================|

@font-face {
    font-family: "poppins";
    src: url("../assets/Fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
        url("../assets/Fonts/Poppins/Poppins-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    // site : https://www.fontsquirrel.com/fonts/poppins
}

@font-face {
    font-family: "inter";
    src: url("../assets/Fonts/Inter/Inter-Medium.woff2") format("woff2"),
        url("../assets/Fonts/Inter/Inter-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    // site : https://www.fontsquirrel.com/fonts/inter
}


//==================================================|
// COMMON STYLES------------------------------------|
//==================================================|

:root {
    --primary-background: #f4f4f9;
    --secondary-background: #fff;

    --primary-color: #273940;
    --secondary-color: #ED3A1F;
    --third-color: #fff;

    --primary-fonts: #333;
    --secondary-fonts: #000;

    --button-resa: #E1A624;

    --font-title: 'poppins';
    --font-text: 'inter';

    /* Mode sombre */
    --dark-background: #121212;
    --dark-title: #f4f4f9;
    --dark-fonts: #fff;
    --dark-secondary-background: #333;
    --dark-button: #E1A624;
}

//==================================================|
// GENERAL STYLES-----------------------------------|
//==================================================|

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--primary-background);
    color: var(--secondary-fonts);
    transition: background-color 0.3s, color 0.3s;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-title);
        color: var(--primary-color);
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* Mode sombre */
body.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-title);
}

body.dark-mode main {
    background-color: var(--dark-secondary-background);
}

/* Option pour le bouton dans la barre de navigation */
#dark-mode-toggle {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--secondary-title);
    }
}

body.dark-mode footer {
    background-color: var(--dark-secondary-background);
    color: var(--dark-fonts);
}

body.dark-mode h2 {
    color: var(--dark-title); /* Couleur pour le mode sombre */
}

body.dark-mode .restaurant-card {
    background-color: var(--dark-secondary-background); /* Changer la couleur de fond en mode sombre */
    color: var(--dark-fonts);

    h3 {
        color: var(--dark-title);
    }
}


//==================================================|
// NAV-BAR------------------------------------------|
//==================================================|

/* En-tête */
header {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        ul {
            justify-content: flex-end;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 15px;
            width: 100%;

        }

        li {
            display: flex;
            align-items: center;
        }

        .search-bar-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            input {
                background: none;
                color: var(--secondary-title);
                border: none;
                outline: none;
                padding: 10px;
                font-size: 16px;
                width: 300px;
                border-bottom: 2px solid var(--primary-background);
            }
        }

    }
}

.register-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1001;

    .close-btn {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        align-self: flex-end;
    }
}

.register-menu.active {
    right: 0;
}

@media (max-width: 768px) {
    .register-menu {
        width: 100%;
    }
}


/* Pour le logo */
.logo1 {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
        height: 40px;
    }
}


//==================================================|
// MAIN---------------------------------------------|
//==================================================|

/* Contenu principal */
main {
    padding: 30px;
    max-width: 1300px;
    margin: 20px auto;
    background-color: var(--secondary-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease-in-out;
}

// BOUTONS

#btn-general {
    background: none;
    color: var(--secondary-title);
    min-width: 146px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-color);
        color: var(--secondary-title);
    }
}

#close-register {
    color: var(--primary-color);
    &:hover {
        color: var(--secondary-color);
    }
}

.btn-more-info {
    background-color: var(--secondary-color);
    color: var(--third-color);
    min-width: 146px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: var(--primary-background);
        color: var(--secondary-fonts);
    }
}

.btn-view-dishes {
    cursor: pointer;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--third-color);
    min-width: 146px;
    margin: 10px 0;
    padding: 13.2px 20px; // ?????
    border-radius: 30px;
    font-family: var(--font-text);
    font-size: 16px; // ?????
    font-weight: 500;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
    border: none;

    &:hover {
        background-color: var(--primary-background);
        color: var(--secondary-fonts);
    }
}

.btn-more-resa {
    background-color: var(--button-resa);
    color: var(--secondary-title);
    min-width: 146px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: var(--primary-background);
        color: var(--secondary-fonts);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

.btn-more-info:hover,
.btn-more-resa:hover,
.btn-view-dishes:hover {
    animation: shake 0.3s ease-in-out;
}



/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


//==================================================|
// FOOTER-------------------------------------------|
//==================================================|

/* Pied de page */
footer {
    background-color: var(--primary-color);
    color: var(--third-color);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;

    p {
        margin: 0;
    }
}

//==================================================|
// RESPONSIVES--------------------------------------|
//==================================================|

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 20px;
    }

    footer {
        font-size: 12px;
    }
}