* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
@font-face {
  font-family: 'Paris2024';
  src: url("/Font/Paris2024-Variable.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica';
  src: url("/Font/coolvetica.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("/Font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color1: #022366;
  --color2: #FBA9CB;
  --color3: #F3F3F3;
  --color4: #D1D8C5;
  --color5: #EEEEEE;
  --color6: #000000;
  --fontLogo: 'Paris2024';
  --fontTitre: 'Coolvetica';
  --fontTexte: 'Roboto-Regular';
}
body {
  background-color: var(--color3);
}
