* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: 'Paris2024';
  src: url("/Font/Paris2024-Variable.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("/Font/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("/Font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  //main navbar
  --color1: #022366;
  //second navbar
  --color2: #FBA9CB;
  //main background
  --color3: #F3F3F3;
  //second background
  --color4: #D1D8C5;
  //main text
  --color5: #000000;
  //second text
  --color6: #EEEEEE;
  //main fontText
  --fontTitre: 'Paris2024';
  //second fontText
  --fontButton: 'Roboto-Black';
  //main paragraph
  --fontTexte: 'Roboto-Regular';
}

body {
  background-color: var(--color3);
}

// TEMPLATE

body {
  header {
    .connection {
      width: 100vw;
      background-color: var(--color2);
      display: flex;
      align-items: center;
      justify-content: space-around;

      .logo2 {
        img {
          width: 5%;
          // margin-left: 30px;
          clip-path: ellipse(45% 50%);
        }
      }

      li {
        font-family: var(--fontButton);
        background-color: var(--color3);
        padding: 10px;
        margin: 10px;
        border-radius: 50px;

        a {
          color: var(--color5);
        }
      }
    }

    .navigation {
      width: 100vw;
      background-color: var(--color1);
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;

        li {
          font-family: var(--fontButton);
          background-color: var(--color3);
          padding: 10px;
          margin: 10px;
          border-radius: 50px;

          a {
            color: var(--color5);
          }
        }
      }
    }
  }
}

footer {
  .foot1 {
    height: 70px;
    width: 100vw;
    background-color: var(--color2);
  }

  .foot2 {
    width: 100vw;
    padding: 20px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      font-family: var(--fontTexte);
      color: var(--color3);
    }

  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;

  h1 {
    font-family: var(--fontTitre);
    font-size: 5em;
    padding: 40px;
  }

  .overElement {
    position: absolute;
    z-index: 3;
    color: var(--color3);

  }

  .upElement {
    color: var(--color5);
  }

  .asterisque {
    color: var(--color2);
  }

  #section1 {
    position: relative;

    img {
      width: 100vw;
      height: auto;
      object-fit: cover;
      z-index: 1;
    }

    .intro {
      position: absolute;
      z-index: 2;
      top: 30%;
      margin: 30px;

      p {
        width: 30%;
        font-family: var(--fontTexte);
        font-size: 2.2em;
        background-color: rgba(0, 0, 0, 0.33);
        border-radius: 50PX;
        padding: 20px;
        color: var(--color3);
      }
    }
  }

  #section2 {
    text-align: justify;
    margin: 5%;
    font-family: var(--fontTexte);

    .un {
      text-indent: 5%; //décaller première phrase
    }

    // POURQUOI .deux est en dehors de la section2 ???
    .deux {
      width: fit-content; //prend la taille de l'élément
      margin-left: auto; // créé une marge auto sur la gauche
      margin-top: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      background-color: var(--color3);
      color: var(--color2);
      text-align: end;
      font-style: italic;
      font-size: 13px;
      padding: 10px;
    }
  }
}

.content {
  background-image: url(/img/all/logo4.jpg);
  background-repeat: no-repeat;
  //redimensionner image !!!
  background-color: var(--color3);
  .containerFormInsc {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin-bottom: 20px;
    .form-container {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-radius: 50px;
      form {
        display: flex;
        flex-direction: column;
        background-color: var(--color4);
        border-radius: 50px;
        margin: 10px;
        padding: 30px;
        font-family: var(--fontTexte);
        input {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          margin-bottom: 10px;
        }
        select {
          margin-bottom: 10px;
          background-color: var(--color3);
        }

        .add {
          margin-top: 10px;
          padding: 10px;
          background-color: var(--color2);
          border-radius: 50px;
        }
        .validator {
          display: none;
        }

      }
    }

  }

}