* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

body header {
    height: 50px;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;

}

header nav{
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li a {
    color: aliceblue;
    padding: 30px;
    font-size: 2em;

}

a:hover {
    background-color: yello;
    opacity: 10;
}

form {
    width: 20em;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
}

footer {
    background-color: black;
    opacity: 0.7;
    color: aliceblue;
    padding: 1%;  
}

label {
    background-color: aliceblue;
}

input {
    background-color: yellow;
}

button {
    background-color: black;
    color: red;
}