* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: 'arial_narrow_7';
  src: url("/public/Font/arial_narrow_7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa-ExtraLight';
  src: url("/public/Font/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa-Heavy';
  src: url("/public/Font/Nexa-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --colorPrincipale: #63b32f;
  --colorSecondaire: #387F39;
  --colorTertiaire: #00712D;
  --colorBackground0: #fff;
  --colorBackground1: #000000ec;
  --colorBackground2: #00993d;
  --colorValid: #8FD14F;
  --colorInvalid: #fff;
  --fontTitre: 'arial_narrow_7';
  --fontTexteLight: 'Nexa-ExtraLight';
  --fontTexteHeavy: 'Nexa-Heavy';
}
body {
  height: 100%;
  background-color: var(--colorBackground2);
}
h1 {
  font-family: var(--fontTitre);
}
h2 {
  font-family: var(--fontTexteHeavy);
}
p {
  font-family: var(--fontTexteLight);
  letter-spacing: 4px;
}
.spanImportant {
  font-weight: bold;
  text-decoration: underline;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: var(--colorBackground1);
}
header img {
  height: 50px;
  background-color: var(--colorBackground0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: 50px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
header nav ul li a {
  padding: 5px 10px;
  margin: 10px;
  font-family: var(--fontTitre);
  color: var(--colorPrincipale);
  font-size: 1.3em;
  background-color: transparent;
}
header nav ul li a:hover {
  color: var(--colorBackground2);
  text-decoration: underline var(--colorBackground0);
}
header nav ul .profil-conn {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
header nav ul .profil-conn .noConn {
  font-family: var(--fontTitre);
  font-style: italic;
  color: var(--colorPrincipale);
  font-size: 1.3em;
  background-color: transparent;
  margin-left: 20px;
}
.userStat {
  color: red;
}
footer {
  user-select: none;
  height: auto;
  line-height: normal;
  padding: 50px 0;
  background: var(--colorBackground1);
  margin-top: 100px;
  color: var(--colorPrincipale);
  text-align: center;
}
footer .foot {
  font-family: var(--fontTexteHeavy);
}
#topContent {
  text-align: center;
}
#topContent h1 {
  font-size: 30em;
  user-select: none;
}
#midContent {
  text-align: justify;
  background: var(--colorTertiaire);
  padding: 0px 50px;
}
#midContent h2 {
  text-align: center;
  color: var(--colorBackground0);
  padding: 20px 0px;
  user-select: none;
}
.principalText {
  text-indent: 10%;
  color: var(--colorBackground0);
}
.secondaryText {
  text-align: center;
  padding: 50px 50px;
  color: var(--colorBackground0);
  font-weight: bold;
}
.secondaryText a {
  font-family: var(--fontTexteHeavy);
  border: 5px solid;
  border-image-slice: 2;
  border-image-source: conic-gradient(from var(--angle-to-the-dangle), transparent 0deg, var(--colorPrincipale) 20deg, transparent 40deg);
  animation: rotateColors 4s linear infinite;
  background-color: var(--colorSecondaire);
  color: white;
  padding: 1rem 2rem;
  display: inline-flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.secondaryText a svg {
  width: 1em;
}
@keyframes rotateColors {
  0% {
    --angle-to-the-dangle: 0deg;
  }
  100% {
    --angle-to-the-dangle: 360deg;
  }
}
@property --angle-to-the-dangle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
.titreAdd {
  text-align: center;
  font-size: 10em;
  user-select: none;
}
.form-container {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;
}
.form-container form {
  padding: 20px;
  height: 340px;
  display: grid;
  text-align: center;
  grid-template-columns: 300px 300px 300px 300px;
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  font-size: 1em;
}
.form-container form .formPart1 {
  background-color: rgba(0, 0, 0, 0.5);
}
.form-container form .formPart1 input::placeholder {
  color: var(--colorBackground0);
}
.form-container form .formPart1 input:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .formPart2 {
  background-color: rgba(0, 0, 0, 0.4);
}
.form-container form .formPart2 input[type='date'] {
  cursor: pointer;
}
.form-container form .formPart2 input::placeholder {
  color: var(--colorBackground0);
}
.form-container form .formPart2 input:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .formPart2 select {
  width: 95%;
  height: 40px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  text-align: center;
  border: none;
  cursor: pointer;
}
.form-container form .formPart2 select:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .formPart3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.form-container form .formPart3 input::placeholder {
  color: var(--colorBackground0);
}
.form-container form .formPart3 input:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .formPart3 #togglePassword {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.form-container form .formPart3 .invalid {
  color: var(--colorInvalid);
}
.form-container form .formPart3 .valid {
  color: var(--colorValid);
}
.form-container form .formPart4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
}
.form-container form .formPart4 .custom-file-upload {
  padding: 12px 20px;
  cursor: pointer;
  background-color: var(--colorPrincipale);
  color: white;
  font-family: var(--fontTexteHeavy);
  font-size: 1em;
}
.form-container form .formPart4 .custom-file-upload:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .formPart4 input[type="submit"] {
  cursor: pointer;
  font-family: var(--fontTexteHeavy);
  background-color: var(--colorPrincipale);
  font-size: 1em;
  border: 2px solid var(--colorPrincipale);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.form-container form .formPart4 input:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container form .eyePSW {
  transform: translate(-25%, 15%);
  width: 30px;
  height: 20px;
}
.form-container form .inputBx {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.form-container form .inputBx input {
  border: 2px solid var(--colorBackground1);
  text-align: center;
  border: none;
  width: 95%;
  height: 40px;
  padding: 12px 20px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
}
.form-container2 {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;
}
.form-container2 form {
  padding: 20px;
  height: 340px;
  display: grid;
  text-align: center;
  grid-template-columns: 300px 300px 300px;
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  font-size: 1em;
}
.form-container2 form .formPart1 {
  background-color: rgba(0, 0, 0, 0.5);
}
.form-container2 form .formPart1 input::placeholder {
  color: var(--colorBackground0);
}
.form-container2 form .formPart1 input:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container2 form .emptyGrid {
  display: grid;
  align-items: center;
}
.form-container2 form .formPart2 {
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  align-items: center;
}
.form-container2 form .formPart2 a {
  margin: 0 auto;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  width: 95%;
  height: 40px;
  border: 2px solid var(--colorSecondaire);
}
.form-container2 form .formPart2 a:hover {
  border: 2px solid var(--colorBackground0);
}
.form-container2 form .inputBx {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.form-container2 form .inputBx input {
  border: 2px solid var(--colorBackground1);
  text-align: center;
  border: none;
  width: 95%;
  height: 40px;
  padding: 12px 20px;
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
}
#questionnaireContainer .titreQuestionnaire {
  text-align: center;
  font-size: 2em;
  user-select: none;
}
#questionnaireContainer h1,
#questionnaireContainer h2 {
  text-align: center;
  font-family: var(--fontTitre);
  font-size: 8em;
}
#questionnaireContainer h6 {
  font-family: var(--fontTexteHeavy);
  text-align: end;
  margin: 8px 30px;
}
#questionnaireContainer .time {
  text-align: center;
  padding: 30px;
  color: var(--colorBackground0);
  font-size: 2em;
}
#questionnaireContainer .question {
  margin: 10px 300px;
  padding-left: 40px;
  color: var(--colorBackground0);
}
#questionnaireContainer .question p {
  font-family: var(--fontTexteHeavy);
  padding-bottom: 8px;
}
#questionnaireContainer .question:nth-child(odd) {
  background-color: var(--colorSecondaire);
  border: var(--colorSecondaire) solid 6px;
}
#questionnaireContainer .question:nth-child(even) {
  background-color: var(--colorTertiaire);
  border: var(--colorTertiaire) solid 6px;
}
#questionnaireContainer .question:nth-child(odd):hover {
  border: var(--colorPrincipale) solid 6px;
}
#questionnaireContainer .question:nth-child(even):hover {
  border: var(--colorPrincipale) solid 6px;
}
#questionnaireContainer .oui,
#questionnaireContainer .non {
  color: var(--colorBackground0);
  font-family: var(--fontTexteLight);
  padding: 4px;
  width: 70px;
  margin: 8px 40px;
}
#questionnaireContainer .oui:hover,
#questionnaireContainer .non:hover {
  background-color: var(--colorValid);
  color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#questionnaireContainer input[type="radio"]:hover,
#questionnaireContainer label:hover {
  cursor: pointer;
  user-select: none;
}
#questionnaireContainer .subQuest {
  text-align: center;
  margin: 50px 0;
}
#questionnaireContainer .subQuest input[type="submit"] {
  background-color: var(--colorPrincipale);
  color: var(--colorBackground0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: var(--colorPrincipale) solid 4px;
}
#questionnaireContainer .subQuest input[type="submit"]:hover {
  background-color: var(--colorSecondaire);
  border: var(--colorBackground0) solid 4px;
}
#traitementQuestionnaireContainer {
  margin: 40px;
}
#traitementQuestionnaireContainer .souligner {
  text-decoration: underline;
}
#traitementQuestionnaireContainer .titreResultQuest {
  font-size: 4em;
  text-align: center;
  padding: 10px 0;
}
#traitementQuestionnaireContainer .mainResult {
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 40px;
}
#traitementQuestionnaireContainer .resAll {
  display: flex;
  flex-direction: column;
}
#traitementQuestionnaireContainer .resAll .resTop {
  border: var(--colorBackground2) solid 2px;
  background-color: var(--colorTertiaire);
}
#traitementQuestionnaireContainer .resAll .resTop h3 {
  text-align: center;
  font-family: var(--fontTexteHeavy);
  font-size: 1.5em;
  color: var(--colorBackground0);
}
#traitementQuestionnaireContainer .resAll .resTop h5 {
  text-align: center;
  font-family: var(--fontTexteHeavy);
  font-size: 1.2em;
  color: var(--colorBackground1);
  background-color: var(--colorBackground2);
}
#traitementQuestionnaireContainer .resAll .resTop .resP {
  text-align: center;
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  padding: 20px 0;
}
#traitementQuestionnaireContainer .resAll .resMid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#traitementQuestionnaireContainer .resAll .resMid .caraMid {
  border: var(--colorBackground2) solid 2px;
  background-color: var(--colorSecondaire);
  padding: 20px;
}
#traitementQuestionnaireContainer .resAll .resMid .caraMid h5 {
  font-family: var(--fontTexteHeavy);
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
  width: 670px;
  background-color: var(--colorBackground2);
}
#traitementQuestionnaireContainer .resAll .resMid .caraMid ul li {
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  list-style-type: circle;
  margin: 0 20px;
}
#traitementQuestionnaireContainer .resAll .resMid .actMid {
  border: var(--colorBackground2) solid 2px;
  background-color: var(--colorSecondaire);
  padding: 20px;
}
#traitementQuestionnaireContainer .resAll .resMid .actMid h5 {
  font-family: var(--fontTexteHeavy);
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
  width: 670px;
  background-color: var(--colorBackground2);
}
#traitementQuestionnaireContainer .resAll .resMid .actMid ul li {
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  list-style-type: circle;
  margin: 0 20px;
}
#traitementQuestionnaireContainer .resAll .resBot {
  border: var(--colorBackground2) solid 2px;
  background-color: var(--colorTertiaire);
}
#traitementQuestionnaireContainer .resAll .resBot h5 {
  text-align: center;
  font-family: var(--fontTexteHeavy);
  font-size: 1.2em;
  color: var(--colorBackground1);
  background-color: var(--colorBackground2);
}
#traitementQuestionnaireContainer .resAll .resBot .resP {
  text-align: center;
  font-family: var(--fontTexteLight);
  color: var(--colorBackground0);
  padding: 20px 0;
}
.responsesAllCont {
  text-align: center;
  padding: 40px 0;
}
.responsesAllCont .responsesAll {
  display: flex;
  padding: 20px 40px;
  background-color: var(--colorTertiaire);
}
.responsesAllCont .response {
  padding: 4px;
  text-align: center;
  color: var(--colorBackground0);
}
