* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: 'arial_narrow_7';
  src: url("/public/Font/arial_narrow_7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa-ExtraLight';
  src: url("/public/Font/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa-Heavy';
  src: url("/public/Font/Nexa-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --colorPrincipale: #63b32f;
  --colorSecondaire: #387F39;
  --colorTertiaire: #00712D;
  --colorBackground0: #fff;
  --colorBackground1: #000000ec;
  --colorBackground2: #00993d;
  --fontTitre: 'arial_narrow_7';
  --fontTexteLight: 'Nexa-ExtraLight';
  --fontTexteHeavy: 'Nexa-Heavy';
}
body {
  height: 100%;
  background-color: var(--colorBackground2);
}
h1 {
  font-family: var(--fontTitre);
}
h2 {
  font-family: var(--fontTexteHeavy);
}
p {
  font-family: var(--fontTexteLight);
  letter-spacing: 4px;
}
.spanImportant {
  font-weight: bold;
  text-decoration: underline;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: var(--colorBackground1);
}
header img {
  height: 50px;
  background-color: var(--colorBackground0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: 50px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
header nav ul li a {
  padding: 5px 10px;
  /* Ajout de padding avec des espaces */
  margin: 10px;
  font-family: var(--fontTitre);
  color: var(--colorPrincipale);
  font-size: 1.3em;
  background-color: transparent;
}
header nav ul li a:hover {
  color: var(--colorBackground2);
  text-decoration: underline var(--colorBackground0);
}
footer {
  user-select: none;
  height: auto;
  line-height: normal;
  padding: 50px 0;
  background: var(--colorBackground1);
  margin-top: 100px;
  color: var(--colorPrincipale);
  text-align: center;
}
footer .foot {
  font-family: var(--fontTexteHeavy);
}
#topContent {
  text-align: center;
}
#topContent h1 {
  font-size: 30em;
  user-select: none;
}
#midContent {
  text-align: justify;
  background: var(--colorTertiaire);
  padding: 0px 50px;
}
#midContent h2 {
  text-align: center;
  color: var(--colorBackground0);
  padding: 20px 0px;
  user-select: none;
}
.principalText {
  text-indent: 10%;
  color: var(--colorBackground0);
}
.secondaryText {
  text-align: center;
  padding: 50px 50px;
  color: var(--colorBackground0);
  font-weight: bold;
}
.secondaryText a {
  font-family: var(--fontTexteHeavy);
  border: 2px solid;
  border-image-slice: 2;
  border-image-source: conic-gradient(from var(--angle-to-the-dangle), transparent 0deg, var(--colorPrincipale) 20deg, transparent 40deg);
  animation: rotateColors 4s linear infinite;
  background-color: var(--colorTertiaire);
  color: white;
  padding: 1rem 2rem;
  display: inline-flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.secondaryText a svg {
  width: 1em;
}
@keyframes rotateColors {
  0% {
    --angle-to-the-dangle: 0deg;
  }
  100% {
    --angle-to-the-dangle: 360deg;
  }
}
@property --angle-to-the-dangle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
#questionnaireContainer h1 {
  text-align: center;
}
#questionnaireContainer input[type="radio"]:hover {
  cursor: pointer;
  user-select: none;
}
#questionnaireContainer label:hover {
  cursor: pointer;
  user-select: none;
}
