* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

// options :
//----------------------------------------------------------------------
@font-face {
  font-family: 'arial_narrow_7';
  src: url("/public/Font/arial_narrow_7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Nexa-ExtraLight';
  src: url("/public/Font/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa-Heavy';
  src: url("/public/Font/Nexa-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --colorPrincipale: #63b32f;
  --colorSecondaire: #387F39;
  --colorTertiaire: #00712D;

  --colorBackground0: #fff;
  --colorBackground1: #000000ec;
  --colorBackground2: #00993d;

  --colorValid: #8FD14F;
  --colorInvalid: #fff;

  --fontTitre: 'arial_narrow_7';
  --fontTexteLight: 'Nexa-ExtraLight';
  --fontTexteHeavy: 'Nexa-Heavy';
}


// =======================================
// =======================================
// =======================================

//GENERAL
body {
  height: 100%;
  background-color: var(--colorBackground2);
}


h1 {
  font-family: var(--fontTitre);
}

h2 {
  font-family: var(--fontTexteHeavy);
}

p {
  font-family: var(--fontTexteLight);
  letter-spacing: 4px;
}

.spanImportant {
  font-weight: bold;
  text-decoration: underline;
}



// =======================================
// TEMPLATE

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  img {
    height: 50px;
    background-color: var(--colorBackground0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-left: 50px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      margin-right: 50px;

      li {
        a {
          padding: 5px 10px;
          margin: 10px;
          font-family: var(--fontTitre);
          color: var(--colorPrincipale);
          font-size: 1.3em;
          background-color: transparent;

          &:hover {
            color: var(--colorBackground2);
            text-decoration: underline var(--colorBackground0);
          }
        }
      }

      .profil-conn {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;

        .noConn {
          font-family: var(--fontTitre);
          font-style: italic;
          color: var(--colorPrincipale);
          font-size: 1.3em;
          background-color: transparent;
          margin-left: 20px;
        }
      }
    }
  }

  height: 100px;
  background: var(--colorBackground1);
}

.userStat {
  color: red;
}

// =======================================
// FOOTER

footer {
  user-select: none;
  height: auto;
  line-height: normal;
  padding: 50px 0;
  background: var(--colorBackground1);
  margin-top: 100px;
  color: var(--colorPrincipale);
  text-align: center;

  .foot {
    font-family: var(--fontTexteHeavy);
  }
}


// =======================================
// =======================================
// ACCUEIL

#topContent {
  text-align: center;

  h1 {
    font-size: 30em;
    user-select: none;
  }
}

#midContent {
  h2 {
    text-align: center;
    color: var(--colorBackground0);
    padding: 20px 0px;
    user-select: none;
  }

  text-align: justify;
  background: var(--colorTertiaire);
  padding: 0px 50px;
}

.principalText {
  text-indent: 10%;
  color: var(--colorBackground0);
}

.secondaryText {
  text-align: center;
  padding: 50px 50px;
  // background: var(--colorPrincipale);
  color: var(--colorBackground0);
  font-weight: bold;
}

// BUTTON QUESTIONNAIRE

.secondaryText {
  a {
    background-color: var(--colorPrincipale);
    font-family: var(--fontTexteHeavy);
    color: white;
    width: 220px;
    text-align: center;
    margin: 0 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    svg {
      width: 1em;
    }
  }

  a:hover {
    background-color: var(--colorSecondaire);
  }
}


// =======================================
// =======================================
// INFOS

.titreInfos {
  font-size: 8em;
  text-align: center;
  transition: font-size 0.3s ease;
  user-select: none;
}

.selectInfos {
  margin-bottom: 600px;
}

.resAll {
  height: 600px;
}


// =======================================
// =======================================
// ADD

.titreAdd {
  text-align: center;
  font-size: 10em;
  user-select: none;
}

.form-container {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;

  form {
    padding: 20px;
    height: 340px;
    display: grid;
    text-align: center;
    grid-template-columns: 300px 300px 300px 300px;
    font-family: var(--fontTexteLight);
    color: var(--colorBackground0);
    font-size: 1em;

    //---------------------------------------------
    .formPart1 {
      background-color: rgba(0, 0, 0, 0.5);

      input::placeholder {
        color: var(--colorBackground0);
      }

      input:hover {
        border: 2px solid var(--colorBackground0);
      }
    }

    //---------------------------------------------
    .formPart2 {
      background-color: rgba(0, 0, 0, 0.4);

      input[type='date'] {
        cursor: pointer;
      }

      input::placeholder {
        color: var(--colorBackground0);
      }

      input:hover {
        border: 2px solid var(--colorBackground0);
      }

      select {
        width: 95%;
        height: 40px;
        background-color: var(--colorSecondaire);
        color: var(--colorBackground0);
        text-align: center;
        border: none;
        cursor: pointer;
      }

      select:hover {
        border: 2px solid var(--colorBackground0);
      }
    }

    //---------------------------------------------
    .formPart3 {
      background-color: rgba(0, 0, 0, 0.3);

      input::placeholder {
        color: var(--colorBackground0);
      }

      input:hover {
        border: 2px solid var(--colorBackground0);
      }

      #togglePassword {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .invalid {
        color: var(--colorInvalid);
      }

      .valid {
        color: var(--colorValid);
      }
    }

    //---------------------------------------------
    .formPart4 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: rgba(0, 0, 0, 0.2);
      align-items: center;

      .custom-file-upload {
        padding: 12px 20px;
        cursor: pointer;
        background-color: var(--colorPrincipale);
        color: white;
        font-family: var(--fontTexteHeavy);
        font-size: 1em;
      }

      .custom-file-upload:hover {
        border: 2px solid var(--colorBackground0);
      }

      input[type="submit"] {
        background-color: var(--colorPrincipale);
        font-family: var(--fontTexteHeavy);
        color: white;
        width: 220px;
        display: inline-block;
        text-align: center;
        margin: 0 10px;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: var(--colorSecondaire);
      }
    }

    .eyePSW {
      transform: translate(-25%, 15%);
      width: 30px;
      height: 20px;
    }

    .inputBx {
      position: relative;
      width: 100%;
      margin: 20px 0;

      input {
        border: 2px solid var(--colorBackground1);
        text-align: center;
        border: none;
        width: 95%;
        height: 40px;
        padding: 12px 20px;
        background-color: var(--colorSecondaire);
        color: var(--colorBackground0);
      }
    }
  }
}


// =======================================
// =======================================
// LOGIN

.form-container2 {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;

  form {
    padding: 20px;
    height: 340px;
    display: grid;
    text-align: center;
    grid-template-columns: 300px 300px 300px;
    font-family: var(--fontTexteLight);
    color: var(--colorBackground0);
    font-size: 1em;

    .formPart1 {
      background-color: rgba(0, 0, 0, 0.5);


      input::placeholder {
        color: var(--colorBackground0);
      }

      .inputBx {
        position: relative;
        width: 100%;
        margin: 20px 0;

        input {
          border: 2px solid var(--colorBackground1);
          text-align: center;
          border: none;
          width: 95%;
          height: 40px;
          // padding: 0 20px;
          background-color: var(--colorSecondaire);
          color: var(--colorBackground0);
        }

        input[type="submit"] {
          background-color: var(--colorPrincipale);
          font-family: var(--fontTexteHeavy);
          color: white;
          width: 220px;
          display: inline-block;
          text-align: center;
          margin: 0 10px;
          padding: 10px 10px;
          text-decoration: none;
          border-radius: 5px;
          transition: background-color 0.3s ease;
          cursor: pointer;
        }

        input[type="submit"]:hover {
          background-color: var(--colorSecondaire);
        }
      }
    }

    .emptyGrid {
      display: grid;
      align-items: center;
    }

    p {
      letter-spacing: 11px;
    }

    .formPart2 {
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        letter-spacing: 11px;
      }

      a {
        background-color: var(--colorPrincipale);
        font-family: var(--fontTexteHeavy);
        color: white;
        width: 220px;
        display: inline-block;
        text-align: center;
        margin: 0 10px;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }

      a:hover {
        background-color: var(--colorSecondaire);
      }
    }
  }
}


// =======================================
// =======================================
// READ

.readButtons {
  margin: 20px 0;
  text-align: center;

  .validButton {
    background-color: var(--colorPrincipale);
    font-family: var(--fontTexteHeavy);
    color: white;
    width: 220px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .validButton:hover {
    background-color: var(--colorSecondaire);
  }
}

.titreRead {
  text-align: center;
  font-size: 8.2em;
  user-select: none;
}


/* Styles pour le tableau */
.readContainer {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: var(--fontTexteLight);
  text-align: left;

  th,
  td {
    padding: 12px 15px;
    border: 1px solid var(--colorTertiaire);
  }

  th {
    background-color: var(--colorPrincipale);
    font-weight: bold;
    color: #333;
  }
}

.readContainer tr:nth-child(even) {
  background-color: var(--colorSecondaire);
}

.readContainer tr:hover {
  background-color: var(--colorBackground0);
}

.readContainer img {
  border-radius: 50%;
}

/* Lien d'action */
.readContainer a {
  color: #2196F3;
  /* Bleu */
  text-decoration: none;
}

.readContainer a:hover {
  text-decoration: underline;
}

/* Titre */
.titreRead {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}


// =======================================
// =======================================
// DELETE




// =======================================
// =======================================
// QUESTIONNAIRE
#questionnaireContainer {
  .titreQuestionnaire {
    text-align: center;
    font-size: 2em;
    user-select: none;
  }

  h1,
  h2 {
    text-align: center;
    font-family: var(--fontTitre);
    font-size: 8em;
  }

  h6 {
    font-family: var(--fontTexteHeavy);
    text-align: end;
    margin: 8px 30px;
  }

  .time {
    text-align: center;
    padding: 30px;
    color: var(--colorBackground0);
    font-size: 2em;

  }

  .question {
    margin: 10px 300px;
    padding-left: 40px;
    color: var(--colorBackground0);

    p {
      font-family: var(--fontTexteHeavy);
      padding-bottom: 8px;
    }
  }

  .question:nth-child(odd) {
    background-color: var(--colorSecondaire);
    border: var(--colorSecondaire) solid 6px;
  }

  .question:nth-child(even) {
    background-color: var(--colorTertiaire);
    border: var(--colorTertiaire) solid 6px;
  }

  .question:nth-child(odd):hover {
    border: var(--colorPrincipale) solid 6px;
  }

  .question:nth-child(even):hover {
    border: var(--colorPrincipale) solid 6px;
  }

  .oui,
  .non {
    color: var(--colorBackground0);
    font-family: var(--fontTexteLight);
    padding: 4px;
    width: 70px;
    margin: 8px 40px;
  }

  .oui:hover,
  .non:hover {
    background-color: var(--colorValid);
    color: black;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  input[type="radio"]:hover,
  label:hover {
    cursor: pointer;
    user-select: none;
  }

  .subQuest {
    text-align: center;
    margin: 50px 0;

    input[type="submit"] {
      background-color: var(--colorPrincipale);
      color: var(--colorBackground0);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border: var(--colorPrincipale) solid 4px;
    }

    input[type="submit"]:hover {
      background-color: var(--colorSecondaire);
      border: var(--colorBackground0) solid 4px;

    }
  }
}


// =======================================
// =======================================
// QUESTIONNAIRE RESULTS


#traitementQuestionnaireContainer {

  margin: 40px;

  .souligner {
    text-decoration: underline;
  }

  .titreResultQuest {
    font-size: 4em;
    text-align: center;
    padding: 10px 0;
  }

  .mainResult {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 40px;
  }

  .resAll {
    display: flex;
    flex-direction: column;

    .resTop {
      border: var(--colorBackground2) solid 2px;
      background-color: var(--colorTertiaire);

      h3 {
        text-align: center;
        font-family: var(--fontTexteHeavy);
        font-size: 1.5em;
        color: var(--colorBackground0);
      }

      h5 {
        text-align: center;
        font-family: var(--fontTexteHeavy);
        font-size: 1.2em;
        color: var(--colorBackground1);
        background-color: var(--colorBackground2);
      }

      .resP {
        text-align: center;
        font-family: var(--fontTexteLight);
        color: var(--colorBackground0);
        padding: 20px 0;
      }
    }

    .resMid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .caraMid {
        border: var(--colorBackground2) solid 2px;
        background-color: var(--colorSecondaire);
        padding: 20px;

        h5 {
          font-family: var(--fontTexteHeavy);
          text-align: center;
          font-size: 1em;
          margin-bottom: 20px;
          width: 670px;
          background-color: var(--colorBackground2);
        }

        ul li {
          font-family: var(--fontTexteLight);
          color: var(--colorBackground0);
          list-style-type: circle;
          margin: 0 20px;
        }
      }

      .actMid {
        border: var(--colorBackground2) solid 2px;
        background-color: var(--colorSecondaire);
        padding: 20px;

        h5 {
          font-family: var(--fontTexteHeavy);
          text-align: center;
          font-size: 1em;
          margin-bottom: 20px;
          width: 670px;
          background-color: var(--colorBackground2);
        }

        ul li {
          font-family: var(--fontTexteLight);
          color: var(--colorBackground0);
          list-style-type: circle;
          margin: 0 20px;
        }
      }
    }

    .resBot {
      border: var(--colorBackground2) solid 2px;
      background-color: var(--colorTertiaire);

      h5 {
        text-align: center;
        font-family: var(--fontTexteHeavy);
        font-size: 1.2em;
        color: var(--colorBackground1);
        background-color: var(--colorBackground2);
      }

      .resP {
        text-align: center;
        font-family: var(--fontTexteLight);
        color: var(--colorBackground0);
        padding: 20px 0;
      }
    }
  }
}

.responsesAllCont {
  text-align: center;
  padding: 40px 0;

  .responsesAll {
    display: flex;
    padding: 20px 40px;
    background-color: var(--colorTertiaire);
  }

  .response {
    padding: 4px;
    text-align: center;
    color: var(--colorBackground0);
  }

}

.recQuest {
  background-color: var(--colorBackground0);
  text-align: center;
  font-family: var(--fontTexteHeavy);
}


// =======================================
// =======================================
// traitementQUESTIONNAIRE RESULTS

#profilPage {

  display: flex;
  justify-content: space-around;

  .profilContainer-left {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 600px;
    background-color: var(--colorBackground0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      color: var(--colorBackground1);
      margin-bottom: 10px;
    }

    .profil-img {
      margin: 20px 0;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    p {
      font-size: 16px;
      color: #555;
      margin: 5px 0;
    }
  }

  .profilContainer-right {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 800px;
    background-color: var(--colorBackground0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    .rightBox{
      display: flex;
      justify-content: space-between;
      .resultsComp, .graphRad {
        width: 48%;
        text-align: justify;
      }
    }

    h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

      .resultsComp {
        font-family: var(--fontTexteLight);
    }
  }
}