* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: 'ALOALLA';
  src: url("/Font/ALOALLA.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica';
  src: url("/Font/coolvetica.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("/Font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color1: #184561;
  --color2: #3D657B;
  --color3: #71ACA4;
  --color4: #D1D8C5;
  --color5: #EEEEEE;
  --color6: #000000;
  --fontLogo: 'ALOALLA';
  --fontTitre: 'Coolvetica';
  --fontTexte: 'Roboto-Regular';
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(#184561, #71ACA4);
  align-items: center;
  justify-content: center;
  user-select: none;
}
header {
  width: 100vw;
}
header .navbar {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .navbar .logo {
  font-family: var(--fontLogo);
  font-size: 2em;
  color: var(--color4);
}
header .navbar .navlink ul {
  display: flex;
  align-items: center;
}
header .navbar .navlink ul li.active a {
  color: var(--color5);
  font-size: 2em;
}
header .navbar .navlink ul li {
  margin: 0 15px;
}
header .navbar .navlink ul a {
  color: var(--color3);
  font-family: var(--fontTitre);
  font-size: 1em;
}
header .navbar .menuBurger {
  display: none;
  width: 35px;
}
.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.group .item {
  width: 15vw;
  height: 20vw;
  background-position: center;
  background-size: 75vh;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.group .item .imgCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: 48vh;
  background-size: cover;
}
.group .item .text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 2em;
  text-align: center;
  display: none;
  transition: opacity 0.3s ease;
  /* Transition pour l'opacité */
}
.group .item:hover {
  transform: translateY(-25px) rotateX(10deg);
  /* Translation vers le haut et rotation */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Ombre plus prononcée */
}
.group .item:hover .text {
  display: block;
  /* Afficher le texte quand on passe en hover */
}
@media screen and (max-width: 450px) {
  .navbar {
    padding: 10px 0;
  }
  .navbar .logo {
    font-size: 24px;
  }
  .navbar .navlink {
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .navbar .navlink ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navlink ul li {
    margin: 15px;
    font-size: 2em;
  }
  .navbar .menuBurger {
    display: block;
    justify-content: flex-end;
  }
  .background {
    background-position: center;
  }
}
