.container{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    /* gap: 20px; */
}

.item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 100px;
    width: 120px;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
}