* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: 'Paris2024';
  src: url("/ressources/Font/Paris2024-Variable.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url("/ressources/Font/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("/ressources/Font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color1: #022366;
  --color2: #FBA9CB;
  --color3: #EEE;
  --color4: #D1D8C5;
  --color5: #000;
  --fontTitre: 'Paris2024';
  --fontButton: 'Roboto-Black';
  --fontTexte: 'Roboto-Regular';
}
body h1 {
  font-family: var(--fontTitre);
}
body h2 {
  font-family: var(--fontTexte);
}
body header .connection {
  width: 100vw;
  background-color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .connection .logo2 img {
  width: 5%;
  clip-path: ellipse(45% 50%);
}
body header .connection li {
  font-family: var(--fontButton);
  background-color: var(--color3);
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}
body header .connection li a {
  color: var(--color5);
}
body header .navigation {
  width: 100vw;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .navigation ul {
  display: flex;
}
body header .navigation ul li {
  font-family: var(--fontButton);
  background-color: var(--color3);
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}
body header .navigation ul li a {
  color: var(--color5);
}
body .asterisque {
  color: var(--color2);
}
body #topContent {
  position: relative;
  width: fit-content;
}
body #topContent .textTopContent {
  position: absolute;
  top: 20px;
  left: 50px;
  color: var(--color3);
  padding: 10px;
}
body #topContent .textTopContent h1 {
  font-size: 3em;
  max-width: 750px;
}
body #topContent .textTopContent h2 {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 50px;
  max-width: 500px;
}
body #topContent img {
  display: block;
  max-width: 100%;
  height: auto;
}
body #midContent {
  margin: 100px;
  font-family: var(--fontTexte);
  text-align: justify;
}
body #midContent .asterisque {
  text-align: justify;
  width: 400px;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--color1);
  margin-left: auto;
  margin-right: 0;
}
body #botContent {
  position: relative;
  width: fit-content;
}
body #botContent .comments {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
body #botContent .comments h2 {
  background-color: white;
  color: var(--color1);
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 0% 0% 30% 30%;
}
body #botContent .comments .afficherCom {
  color: var(--color5);
}
body #botContent .comments .afficherCom .news {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid var(--color2);
}
body #botContent img {
  display: block;
  max-width: 100%;
  height: auto;
}
footer .foot1 {
  height: 70px;
  width: 100vw;
  background-color: var(--color2);
}
footer .foot2 {
  width: 100vw;
  padding: 20px;
  background-color: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .foot2 ul {
  font-family: var(--fontTexte);
  color: var(--color3);
}
#connexionContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fontTexte);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#connexionContent .cerateUser {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#connexionContent .cerateUser span {
  color: var(--color5);
  background-color: var(--color2);
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 2em;
}
#connexionContent .cerateUser li {
  font-size: 70px;
  background-color: var(--color1);
  border-radius: 50px;
  padding: 0px 60px;
}
#connexionContent .cerateUser li a {
  color: var(--color3);
  font-family: var(--fontButton);
}
#connexionContent .connectUser {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#connexionContent .connectUser span {
  color: var(--color5);
  background-color: var(--color2);
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 2em;
}
#connexionContent .connectUser li {
  font-size: 70px;
  background-color: var(--color1);
  border-radius: 50px;
  padding: 0px 60px;
}
#connexionContent .connectUser li a {
  color: var(--color3);
  font-family: var(--fontButton);
}
#connexionContent .arrow1 {
  font-size: 4rem;
  animation: moveArrow 1s infinite;
  background-color: var(--color3);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
#connexionContent .arrow2 {
  font-size: 4rem;
  animation: moveArrow 1s infinite;
  background-color: var(--color3);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
