* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: roboto condensed;
    // width: 100vw;
    // height: 100vh;
}

header {

    .navbar {
        padding: 50px 0;
        width: 100%;
        background-color: #ECEFD8;

        ul {
            display: flex;
            justify-content: space-around;

            li {
                a {
                    font-size: 20px;
                    color: #393939;
                }
            }
        }


    }

    .banniere {
        width: 100%;
        min-height: 400px;
        background-image: url(./img/Mask\ group.png);
        background-size: cover;

        display: flex;

        justify-content: center;
        align-items: center;

        .bglogo {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: white;
                font-size: 24px;
                border-top: 2px solid white;
                border-bottom: 2px solid white;
            }
        }
    }
}

//TRANSFERER PHOTO DU HTML AU CSS

@media screen and (max-width: 768px) {
    body {
        header {
            .navbar {
                padding: 10px 0;
                ul {
                    li {
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
            .banniere{
                width: 100%;
                background-size: auto;
                .bglogo{
                    img{
                        width: 50%;
                    }
                    h2{
                        font-size: 15px;
                    }
                }
            }
            
        }

    }



}