@import 'style.css';
.readButtons {
  margin: 20px 0;
  text-align: center;
}
.readButtons .validButton {
  background-color: var(--colorPrincipale);
  font-family: var(--fontTexteHeavy);
  color: white;
  width: 220px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .readButtons .validButton {
    width: 40%;
    margin: 10px 0;
  }
}
.readButtons .validButton:hover {
  background-color: var(--colorSecondaire);
}
.titreRead {
  text-align: center;
  font-size: 8.2em;
  user-select: none;
}
@media (max-width: 768px) {
  .titreRead {
    font-size: 5em;
  }
}
.readContainer {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: var(--fontTexteLight);
  text-align: left;
}
.readContainer th,
.readContainer td {
  padding: 12px 15px;
  border: 1px solid var(--colorTertiaire);
  width: 100vw;
}
.readContainer th a,
.readContainer td a {
  text-decoration: none;
  color: var(--colorBackground0);
}
.readContainer th a:hover,
.readContainer td a:hover {
  text-decoration: none;
}
.readContainer th {
  background-color: var(--colorPrincipale);
  font-weight: bold;
}
.readContainer td {
  color: var(--colorBackground0);
}
@media (max-width: 768px) {
  .readContainer {
    display: block;
    overflow-x: auto;
  }
  .readContainer th {
    display: none;
  }
  .readContainer td {
    display: block;
    text-align: center;
  }
  .readContainer td::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
  }
}
.readContainer tr:nth-child(even) {
  background-color: var(--colorSecondaire);
}
.readContainer tr:hover {
  background-color: var(--colorTertiaire);
}
.readContainer img {
  border-radius: 50%;
}
/* Lien d'action */
.readContainer a {
  text-decoration: none;
}
.readContainer a:hover {
  text-decoration: underline;
}
/* Titre */
.titreRead {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
.btn-modifier {
  background-color: var(--colorPrincipale);
  color: var(--colorBackground0);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.btn-modifier:hover {
  background-color: var(--colorSecondaire);
  color: var(--colorBackground0);
  text-decoration: none;
}
